.form-container {
    max-width: 90%;
    margin: 20px auto;
    padding: 0 60px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 20px;
}

select,
input[type="file"] {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    font-size: 14px;
}

.success-message {
    color: green;
    margin-top: 10px;
    font-size: 14px;
}

.form-group > div,
.form-group input,
.form-group textarea {
    width: 100%;
}

